<div class="page-header text-center">
	<h1>Welcome {{ mainCtrl.user.getEmail() }}!</h1>
</div>

<div class="page-header text-center">
	<ul class="pagination">
		<li ng-class="{ disabled: gamesCtrl.paginationIndex == gamesCtrl.paginationMinPage }"><a href="" ng-click="gamesCtrl.decreasePaginationIndex();">«</a></li>
		<li ng-repeat="pIndex in gamesCtrl.paginationPages" ng-class="{ active: pIndex == gamesCtrl.paginationIndex }"><a href="" ng-click="gamesCtrl.setPaginationIndex(pIndex);">{{ pIndex }}</a></li>
		<li ng-class="{ disabled: gamesCtrl.paginationIndex == gamesCtrl.paginationMaxPage }"><a href="" ng-click="gamesCtrl.increasePaginationIndex();">»</a></li>
	</ul>
</div>

<div class="btn-group" style="float: left; margin: 10px;">
	<a class="btn btn-primary" ui-sref=".open" ui-sref-active="active">open</a>
	<a class="btn btn-primary" ui-sref=".playing" ui-sref-active="active">playing</a>
	<a class="btn btn-primary" ui-sref=".finished" ui-sref-active="active">finished</a>
</div>

<div class="btn-group" style="float:right; margin: 10px;">
	<a class="btn btn-primary" ui-sref=".new" ui-sref-active="active">new game</a>
	<a class="btn btn-primary" ui-sref=".myopengames" ui-sref-active="active">my open games</a>
	<a class="btn btn-primary" ui-sref=".myplayinggames" ui-sref-active="active">my playing games</a>
	<a class="btn btn-primary" ui-sref=".myfinishedgames" ui-sref-active="active">my finished games</a>
</div>

<div ui-view></div>