<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Mahjong Mayhem</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">

			<ul ng-show="mainCtrl.user.isLoggedIn()" class="nav navbar-nav">
				<li ui-sref="main.games" ui-sref-active="active"><a ui-sref="main.games">Games</a></li>
				<li ui-sref="main.game" ui-sref-active="active"><a ui-sref="main.game">Game</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select your style <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="layout in mainCtrl.tileLayouts"><a href="" ng-click="mainCtrl.updateTileLayout(layout.url);">{{ layout.name }}</a></li>
						<li class="divider"></li>
						<li ng-repeat="layout in mainCtrl.styleLayouts"><a href="" ng-click="mainCtrl.updateStyleLayout(layout.url);">{{ layout.name }}</a></li>
					</ul>
				</li>
			</ul>

			<ul ng-show="mainCtrl.user.isLoggedIn()" class="nav navbar-nav navbar-right">
				<li><a ui-sref="main.logout">Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div ng-show="!mainCtrl.user.isLoggedIn()" style="margin-top: 100px;">
			<div class="col-md-4 text-center">
				<button class="btn btn-primary" ng-click="mainCtrl.user.openLogin();">Login using Oath</button>
			</div>
	</div>

	<div ng-show="mainCtrl.user.isLoggedIn()" ui-view></div>
</div>
