<!DOCTYPE html>
<html ng-app="mahjong" lang="en" ng-controller="MainController as mainCtrl">
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Mahjong Mayhem">
		<meta name="author" content="Sander Schnydrig & Miquell Sprenkeler">
		<link rel="icon" href="img/favicon.png">

		<title>Mahjong Mayhem</title>

		<link rel="stylesheet" href="css/bootstrap-3.3.4.min.css">
		<link rel="stylesheet" ng-href="css/{{ mainCtrl.styleLayout }}/bootstrap.min.css">

		<link rel="stylesheet" ng-href="css/{{ mainCtrl.tileLayout }}.css">

		<script src="js/app.js"></script>
	</head>

	<body>
		<div ui-view></div>

		<script src="js/support/jquery-1.11.2.min.jsi"></script>
		<script src="js/support/bootstrap-3.3.4.min.jsi"></script>
		<script src="js/support/ie10-viewport-bug-workaround.jsi"></script>
		<script src="js/support/ie-emulation-modes-warning.jsi"></script>
		<script src="http://mahjongmayhem.herokuapp.com/socket.io/socket.io.js"></script>

	</body>
</html>
