<h1 ng-if="gameCtrl.game.waitingToStart">No board to dislay until the game has started.</h1>

<div id="gameboard" style="height: 500px; position: relative; width:670px;">
	<tile ng-repeat="tile in gameCtrl.game.getGrid() | matched: false" class="{{ tile.tile.suit }}-{{ tile.tile.name }}" id="{{tile.tile._id}}" clickable style="left: {{ (tile.xPos * 20) + (tile.zPos * 6) }}px; top: {{ (tile.yPos * 26) - (tile.zPos * 6) }}px; z-index: {{ tile.zPos }};" ng-class="{'selected': tile.selected}"></tile>
</div>

<div style="position: absolute; padding: 25px; margin: 10px; height: 450px; flex-grow: 1;">
	<div> 
		<h1>Matched tiles</h1>
		<div class="player-deck" style="position: relative;">
			<div ng-repeat="pair in gameCtrl.game.getMatchedPairs()" class="pair">
				<tile class="{{ tile.tile.suit }}-{{ tile.tile.name }} deck" id="{{tile.tile._id}}" ng-repeat="tile in pair" style="left: {{ ($index%2==0) ? ($index/2) * 60 : ((((($index>0)?$index-1:0)) / 2) * 60) + 6 }}px; top: {{ ($index%2==0) ? 6 : 0 }}px; z-index: {{ ($index%2==0) ? 0 : 1 }};"></tile>
			</div>
		</div>
	</div>
</div>