<table class="table table-striped table-hover ">
	<tr>
		<td>Name</td>
		<td># tiles matched</td>
		<td>Tiles</td>
	</tr>
	<tr ng-repeat="player in gameCtrl.game.players">
		<td>{{ player.name }}</td>
		<td>{{ player.numberOfMatches }}</td>
		<td>
			<div class="player-deck" style="position: relative;">
				<div ng-repeat="pair in gameCtrl.game.getMatchedPairs() | matchedpairby: player._id" class="pair">
					<tile class="{{ tile.tile.suit }}-{{ tile.tile.name }} deck" id="{{tile.tile._id}}" ng-repeat="tile in pair" style="left: {{ ($index%2==0) ? ($index/2) * 60 : ((((($index>0)?$index-1:0)) / 2) * 60) + 6 }}px; top: {{ ($index%2==0) ? 6 : 0 }}px; z-index: {{ ($index%2==0) ? 0 : 1 }};"></tile>
				</div>
			</div>
		</td>
	</tr>
</table>