<table class="table table-striped table-hover ">
	<tr>
		<td>Time</td>
		<td>Message</td>
	</tr>
	<tr ng-repeat="activityLog in gameCtrl.game.getActivityLogs() | orderBy: '-time'">
		<td>{{ activityLog.time }}</td>
		<td>{{ activityLog.activity }}
			<div class="player-deck" style="position: relative;">
				<div ng-if="activityLog.matchedPair" class="pair">
					<tile ng-repeat="tile in activityLog.matchedPair" class="{{ tile.tile.suit }}-{{ tile.tile.name }} deck" id="{{tile.tile._id}}"  style="left: {{ ($index%2==0) ? ($index/2) * 60 : ((((($index>0)?$index-1:0)) / 2) * 60) + 6 }}px; top: {{ ($index%2==0) ? 6 : 0 }}px; z-index: {{ ($index%2==0) ? 0 : 1 }};"></tile>
				</div>
			</div>
		</td>
	</tr>
</table>