<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 ng-show="gameCtrl.game && gameCtrl.game.id" id="forms">
				<span ng-if="gameCtrl.game.playable">Playing</span>
				<span ng-if="gameCtrl.game.waitingToStart">Waiting for</span>
				<span ng-if="!gameCtrl.game.playable && !gameCtrl.game.waitingToStart">Watching</span>
				game {{ gameCtrl.game.id }}
				<span ng-if="gameCtrl.game.waitingToStart">to start</span>
			</h1>
			<h1 ng-show="!(gameCtrl.game && gameCtrl.game.id)">There is no game selected to play.</h1>
			<h1 ng-show="gameCtrl.game && gameCtrl.game.id && gameCtrl.game.state == 'finished'">This game has finished on {{ gameCtrl.game.endedOn | date:"dd MMMM yyyy 'at' hh:mm a" }}</h1>
		</div>
	</div>          
</div>

<div ng-show="gameCtrl.game && gameCtrl.game.id" class="row">

	<div class="btn-group" style="float: left; margin: 10px;">
		<a class="btn btn-primary" ui-sref=".board" ui-sref-active="active">board</a>
		<a class="btn btn-primary" ui-sref=".players" ui-sref-active="active">players</a>
		<a class="btn btn-primary" ui-sref=".logs" ui-sref-active="active">logs</a>
	</div>


	<div class="col-lg-12" style="display: flex;">
		<div ui-view></div>
	</div>

	<modal class="modal fade" show="gameCtrl.modal.show" title="gameCtrl.modal.title" body="gameCtrl.modal.body"></modal>
</div>